<p id = "profil"> Mon profil</p>
<p id = "rectangle"> </p>
<p id = "rectangle2"></p>
<p id = "pseudo">pseudo1</p>
<p id = "chiffre"> 10 </p>
<p id = "membres">Ajouter des membres</p>

<!-- Les boutons -->
<a   href = "http://localhost:4200/page5"> 
<button id = "salon"> Créer un salon </button>> </a>
<a>
<button id ="salon2"> Rejoindre un salon </button>
</a>


<p id = "salon3"> Mes salons : </p>
<p id = "salon4"> • Salon test </p>
<p id = "salon5"> • Salon test2 </p>
<p id = "pari"> Paris en cours : </p>

<!-- Les icones -->

<span class="material-icons" style="font-size: 47px;" id = "icone">account_circle</span>
<span class='material-icons'style="font-size: 47px;" id = "icone2">people</span>
<span class="material-icons" style="font-size: 47px;" id = "icone3">savings</span>

<!-- La ligne verticale -->

<hr width="3px" size="829px" id = "ligne">