<h1 id="titre">Création d'un salon</h1>
<form>
    <label for="Nsalon" id="Nomsalon">Nom du salon :</label>
    <input type="text" id="Nsalon" name="Nsalon">
    <br>
    <label for="participant" id="nomparticipant">Ajouter des participants :</label>
    <input type="text" id="participant" name="participant">
    <br>
    <label for="comp" id="comp1">Ajouter des compétitions :</label>
    <input type="text" id="comp" name="comp">
    <div>
        <input type="submit"  id="Csalon" value="Créer un salon">
    </div>
</form>
