<div class="c">
    <h1>Medjedovic - De Jong</h1>
    
    <div id="Medjedovic">Medjedovic</div>
    <div id="MatchNull">Match Null</div>
    <div id="DeJong">De Jong</div>
<div id="cote">
<div id="score1">3.05</div>
<div id="score2">1.05</div>
<div id="score3">2.05</div></div>
<div id="cote1">Les côtes</div>
<div id="pari">
   <p> <input type="radio" id="paris1" value="1.05" name="pari"></p>
<p><input type="radio" id="paris2" value="2.05" name="pari"></p>
<p> <input type="radio" id="pari3" value="3.05" name="pari"></p></div>
<div id="pari1">Votre pari</div>
<a  href = "http://localhost:4200/pariValide"> 
<div id="valider">Valider</div></a>
</div>