.c{
    text-align: center ;
}
h1{position: absolute;
text-align: center;
left: 15.57%;
right: 18.4%;
top: 32.02%;
bottom: 48.62%;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 24px;

color: #000000;
}
#DeJong{position: absolute;
left: 53.4%;
right: 16.95%;
top: 44.65%;
bottom: 51.38%;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

color: #000000;}
#MatchNull{position: absolute;
left: 43.71%;
right: 44.79%;
top: 44.65%;
bottom: 51.6%;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

color: #000000;}
#Medjedovic{position: absolute;
left: 22.93%;
right: 62.42%;
top: 44.65%;
bottom: 51.38%;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

color: #000000;}
#cote{
    position: absolute;
    left: 15.57%;
    right: 18.4%;
    top: 53.69%;
    bottom: 35.72%;
    
    background: #CDE5C9;
    
}
#pari{
    position: absolute;
    left: 15.57%;
    right: 18.4%;
    top: 68.47%;
    bottom: 17.97%;
    
    background: rgba(212, 225, 53, 0.53);
}
#cote1{position: absolute;
    left: 3.91%;
    right: 87.65%;
    top: 57.11%;
    bottom: 39.69%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    
    color: #000000;}
#pari1{position: absolute;
    left: 3.45%;
    right: 88.04%;
    top: 74.42%;
    bottom: 22.38%;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    
    color: #000000;}
    #score1{
        position: absolute;
        left: 75.4%;
        right: 10.95%;
        top: 27.45%;
        bottom: 25.38%;
        background: #FAFAFA;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px; 
        position: absolute;
        
    }
    #score2{
        position: absolute;
        left: 10.95%;
        right: 75.4%;
        top: 27.45%;
        bottom: 25.38%;
        background: #FAFAFA;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;   
    }
    #score3{
        position: absolute;
        left: 43.24%;
        right: 43.24%;
        top: 27.45%;
        bottom: 25.38%;
        background: #FAFAFA;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;   
    }
    #valider{
        position: absolute;
        left: 25.61%;
        right: 30.6%;
        top: 82.78%;
        bottom: 12.19%;
        background: #1F7556;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        color: #FFFFFF;
            }
        #paris1{
         position: absolute;
left: 14.72%;
right: 75.77%;
top: 40.47%;
            bottom: 20.97%;
background: #D9D9D9;
        }
        #paris2{
            position: absolute;
            left: 45.24%;
            right: 45.24%;
            top: 40.47%;
            bottom: 20.97%;
            
            background: #D9D9D9;
           }
           #pari3{
            position: absolute;
            left: 75.77%;
            right: 14.72%;
            top: 40.47%;
            bottom: 20.97%;
            
            background: #D9D9D9;
           }