img {
    Width : 100%;
    Height : 28%;
    object-fit: cover;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 74.91%;
}

#title{
position: absolute;
left: 40%;
right: 34%;
top: 12%;
bottom: 86.98%;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}

#profil{
    position: absolute;
    left: 86%;
    right:auto;
    top: 29%;
    bottom: 90%;
    display: flex;
    justify-content: flex-end;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}

  
.material-icons{
 position: absolute;
 font-size: 400%;
 left: 55%;
right: 34%;
top: 11.5%;
text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.7);
 
  }
  #visage {
    left: 28%;
    top:10.5%;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.7);
  }

  #home{
    position: absolute;
    font-size: 30px;
    top: 10.5%;
    right:auto;
    left: 29%;
    text-shadow: 0px 0px 0px rgba(1, 24, 49, 0.7);

  }

  #texte2 {
    position: absolute;
    left: 80%;
    right:auto;
    top: 29%;
    bottom: 90%;
    display: flex;
    justify-content: flex-end;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
  }
