footer { 
    Width: 100%;
    Height : 10%;
    object-fit: cover;
    position:fixed;
    top: 90%;
    bottom: 5.91%;
    background-color: rgb(193, 191, 191);
     border-top: outset;
    border-color: rgb(78, 75, 75);
}
#deconnexion{
    position: absolute;
    color :rgb(201, 58, 58);
    left: auto;
    right: 92%;
    top: 65%;
    bottom: 20%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-family: "Gill sans", sans-serif;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }