#deconnexion{
    color :rgb(0, 0, 0);
    position: absolute;
    left: auto;
    right: 92%;
    top: 40%;
    bottom: 20%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 19px;


}
footer { 
    Width: 100%;
    Height : 10%;
    object-fit: cover;
    position: absolute;
    top: 90%;
    bottom: 5.91%;
    background-color: rgba(105, 113, 125, 0.601);
     border-top: outset;
    border-color: rgb(119, 118, 118);
}

.material-icons {
    position: absolute;
    left: auto;
    right: 90%;
    top: 94%;
    bottom: auto;
}

#texte {
    position: absolute;
    left: 85%;
    right: auto;
    top: 94%;
    bottom: auto;
}